@model LibraryManagementSystem.Models.Author

@{
	ViewData["Title"] = "Delete Author";
}

<h1>@ViewData["Title"]</h1>

<p>Are you sure you want to delete the author "@Model.FirstName @Model.LastName"?</p>

<form asp-action="Delete" method="post">
	<input type="hidden" name="id" value="@Model.Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a href="@Url.Action("List", "Author")" class="btn btn-secondary">Cancel</a>
</form>