@model IEnumerable<LibraryManagementSystem.Models.Author>

@{
	ViewData["Title"] = "Author List";
}

<div class="container mt-4">
	<h2>Author List</h2>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var author in Model)
		{
			<tr>
				<td>@author.FirstName</td>
				<td>@author.LastName</td>

				<td>
					<a href="@Url.Action("Details", "Author", new { id = author.Id })" class="btn btn-primary btn-sm">Details</a>
					<a href="@Url.Action("Edit", "Author", new { id = author.Id })" class="btn btn-info btn-sm">Edit</a>
					<a href="@Url.Action("Delete", "Author", new { id = author.Id })" class="btn btn-secondary btn-sm">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>