@{
	Layout = "_Layout";
}

<h1>@Model.Title Detayı</h1>

<div>
	<strong>Başlık:</strong> @Model.Title
</div>
<div>
	<strong>Yazar:</strong> @Model.AuthorFullName
</div>
<div>
	<strong>Tür:</strong> @Model.Genre
</div>
<div>
	<strong>Yayın Tarihi:</strong> @Model.PublishDate.ToString("dd/MM/yyyy")
</div>
<div>
	<strong>ISBN:</strong> @Model.ISBN
</div>
<div>
	<strong>Mevcut Kopyalar:</strong> @Model.CopiesAvailable
</div>

<a href="@Url.Action("List", "Book")">Geri</a>