@{
	Layout = "_Layout";
}

<h1>Kitaplar Listesi</h1>

<table>
	<thead>
	<tr>
		<th>Başlık</th>
		<th>Yazar</th>
		<th>Tür</th>
		<th>Yayın Tarihi</th>
		<th>ISBN</th>
		<th>Mevcut Kopyalar</th>
		<th>İşlemler</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var book in Model)
	{
		<tr>
			<td>@book.Title</td>
			@*  <td>@book.AuthorViewModelFullName</td>  *@
			<td>@book.Genre</td>
			<td>@book.PublishDate.ToString("dd/MM/yyyy")</td>
			<td>@book.ISBN</td>
			<td>@book.CopiesAvailable</td>
			<td>
				<a href="@Url.Action("Details", "Book", new { id = book.Id })">Detaylar</a> |
				<a href="@Url.Action("Edit", "Book", new { id = book.Id })">Düzenle</a> |
				<a href="@Url.Action("Delete", "Book", new { id = book.Id })">Sil</a>
			</td>
		</tr>
	}
	</tbody>
</table>

<a href="@Url.Action("Create", "Book")">Yeni Kitap Ekle</a>